In [1]:
import duckdb

conn = duckdb.connect(database='madang.db')
conn.sql("create table Customer as select * from 'Customer_madang.csv'")
conn.sql("create table Book as select * from 'Book_madang.csv'")
conn.sql("create table Orders as select * from 'Orders_madang.csv'")
conn.close()

In [3]:
import duckdb
conn = duckdb.connect(database='madang.db')

In [10]:
conn.sql("select * from Customer")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ custid â”‚  name   â”‚     address     â”‚     phone     â”‚
â”‚ int64  â”‚ varchar â”‚     varchar     â”‚    varchar    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚      1 â”‚ ë°•ì§€ì„±  â”‚ ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€   â”‚ 000-5000-0001 â”‚
â”‚      2 â”‚ ê¹€ì—°ì•„  â”‚ ëŒ€í•œë¯¼êµ­ ì„œìš¸   â”‚ 000-6000-0001 â”‚
â”‚      3 â”‚ ì¥ë¯¸ë€  â”‚ ëŒ€í•œë¯¼êµ­ ê°•ì›ë„ â”‚ 000-7000-0001 â”‚
â”‚      4 â”‚ ì¶”ì‹ ìˆ˜  â”‚ ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ â”‚ 000-8000-0001 â”‚
â”‚      5 â”‚ ë°•ì„¸ë¦¬  â”‚ ëŒ€í•œë¯¼êµ­ ëŒ€ì „   â”‚ NULL          â”‚
â”‚      6 â”‚ ê¹€ë„ì—°  â”‚ ì¸ì²œì‹œ ë¯¸ì¶”í™€êµ¬ â”‚ 010-1111-1111 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [5]:
def query(sql, retunrType='df'):
       if retunrType == 'df':
              return conn.execute(sql).df()
       else:
              return conn.execute(sql).fetchall()

#query("select * from Book", "df")
query("select * from Book", "list")

[(1, 'ì¶•êµ¬ì˜ ì—­ì‚¬', 'êµ¿ìŠ¤í¬ì¸ ', 7000),
 (2, 'ì¶•êµ¬ì•„ëŠ” ì—¬ì', 'ë‚˜ë¬´ìˆ˜', 13000),
 (3, 'ì¶•êµ¬ì˜ ì´í•´', 'ëŒ€í•œë¯¸ë””ì–´', 22000),
 (4, 'ê³¨í”„ ë°”ì´ë¸”', 'ëŒ€í•œë¯¸ë””ì–´', 35000),
 (5, 'í”¼ê²¨ êµë³¸', 'êµ¿ìŠ¤í¬ì¸ ', 8000),
 (6, 'ì—­ë„ ë‹¨ê³„ë³„ê¸°ìˆ ', 'êµ¿ìŠ¤í¬ì¸ ', 6000),
 (7, 'ì•¼êµ¬ì˜ ì¶”ì–µ', 'ì´ìƒë¯¸ë””ì–´', 20000),
 (8, 'ì•¼êµ¬ë¥¼ ë¶€íƒí•´', 'ì´ìƒë¯¸ë””ì–´', 13000),
 (9, 'ì˜¬ë¦¼í”½ ì´ì•¼ê¸°', 'ì‚¼ì„±ë‹¹', 7500),
 (10, 'Olympic Champions', 'Pearson', 13000)]

In [6]:
conn.execute("select * from Orders").fetchall()

[(1, 1, 1, 6000, datetime.date(2014, 7, 1)),
 (2, 1, 3, 21000, datetime.date(2014, 7, 3)),
 (3, 2, 5, 8000, datetime.date(2014, 7, 3)),
 (4, 3, 6, 6000, datetime.date(2014, 7, 4)),
 (5, 4, 7, 20000, datetime.date(2014, 7, 5)),
 (6, 1, 2, 12000, datetime.date(2014, 7, 7)),
 (7, 4, 8, 13000, datetime.date(2014, 7, 7)),
 (8, 3, 10, 12000, datetime.date(2014, 7, 8)),
 (9, 2, 10, 7000, datetime.date(2014, 7, 9)),
 (10, 3, 8, 13000, datetime.date(2014, 7, 10))]

In [7]:
conn.sql("select * from Orders")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ orderid â”‚ custid â”‚ bookid â”‚ saleprice â”‚ orderdate  â”‚
â”‚  int64  â”‚ int64  â”‚ int64  â”‚   int64   â”‚    date    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚       1 â”‚      1 â”‚      1 â”‚      6000 â”‚ 2014-07-01 â”‚
â”‚       2 â”‚      1 â”‚      3 â”‚     21000 â”‚ 2014-07-03 â”‚
â”‚       3 â”‚      2 â”‚      5 â”‚      8000 â”‚ 2014-07-03 â”‚
â”‚       4 â”‚      3 â”‚      6 â”‚      6000 â”‚ 2014-07-04 â”‚
â”‚       5 â”‚      4 â”‚      7 â”‚     20000 â”‚ 2014-07-05 â”‚
â”‚       6 â”‚      1 â”‚      2 â”‚     12000 â”‚ 2014-07-07 â”‚
â”‚       7 â”‚      4 â”‚      8 â”‚     13000 â”‚ 2014-07-07 â”‚
â”‚       8 â”‚      3 â”‚     10 â”‚     12000 â”‚ 2014-07-08 â”‚
â”‚       9 â”‚      2 â”‚     10 â”‚      7000 â”‚ 2014-07-09 â”‚
â”‚      10 â”‚      3 â”‚      8 â”‚     13000 â”‚ 2014-07-10 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 10 rows                                  5 columns â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [8]:
query("select * from Customer c, Orders o where c.custid = o.custid")

,custid,name,address,phone,orderid,custid_1,bookid,saleprice,orderdate
0,1,ë°•ì§€ì„±,ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€,000-5000-0001,1,1,1,6000,2014-07-01
1,1,ë°•ì§€ì„±,ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€,000-5000-0001,2,1,3,21000,2014-07-03
2,2,ê¹€ì—°ì•„,ëŒ€í•œë¯¼êµ­ ì„œìš¸,000-6000-0001,3,2,5,8000,2014-07-03
3,3,ì¥ë¯¸ë€,ëŒ€í•œë¯¼êµ­ ê°•ì›ë„,000-7000-0001,4,3,6,6000,2014-07-04
4,4,ì¶”ì‹ ìˆ˜,ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ,000-8000-0001,5,4,7,20000,2014-07-05
5,1,ë°•ì§€ì„±,ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€,000-5000-0001,6,1,2,12000,2014-07-07
6,4,ì¶”ì‹ ìˆ˜,ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ,000-8000-0001,7,4,8,13000,2014-07-07
7,3,ì¥ë¯¸ë€,ëŒ€í•œë¯¼êµ­ ê°•ì›ë„,000-7000-0001,8,3,10,12000,2014-07-08
8,2,ê¹€ì—°ì•„,ëŒ€í•œë¯¼êµ­ ì„œìš¸,000-6000-0001,9,2,10,7000,2014-07-09
9,3,ì¥ë¯¸ë€,ëŒ€í•œë¯¼êµ­ ê°•ì›ë„,000-7000-0001,10,3,8,13000,2014-07-10

In [9]:
conn.execute("INSERT INTO Customer VALUES (6, 'ê¹€ë„ì—°', 'ì¸ì²œì‹œ ë¯¸ì¶”í™€êµ¬', '010-1111-1111')")

# ì˜ ë“¤ì–´ê°”ëŠ”ì§€ í™•ì¸ (ë°©ê¸ˆ ë„£ì€ ì´ë¦„ìœ¼ë¡œ ê²€ìƒ‰)
conn.sql("SELECT * FROM Customer WHERE name = 'ê¹€ë„ì—°'").show()

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ custid â”‚  name   â”‚     address     â”‚     phone     â”‚
â”‚ int64  â”‚ varchar â”‚     varchar     â”‚    varchar    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚      6 â”‚ ê¹€ë„ì—°  â”‚ ì¸ì²œì‹œ ë¯¸ì¶”í™€êµ¬ â”‚ 010-1111-1111 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [11]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\doyeon\anaconda3\lib\site-packages (1.37.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\doyeon\anaconda3\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\doyeon\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\doyeon\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: toolz in c:\users\doyeon\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\doyeon\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\doyeon\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\doyeon\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\doyeon\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\doyeon\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\doyeon\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\doyeon\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\doyeon\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\doyeon\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\doyeon\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\doyeon\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\doyeon\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\doyeon\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\doyeon\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\doyeon\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\doyeon\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\doyeon\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\doyeon\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\doyeon\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import streamlit as st
import duckdb
import pandas as pd
import time

# 1. DuckDB ì—°ê²° (read_only=Falseì—¬ì•¼ ë°ì´í„° ì…ë ¥ ê°€ëŠ¥)
conn = duckdb.connect(database='madang.db', read_only=False)

# 2. ì¿¼ë¦¬ ì‹¤í–‰ í•¨ìˆ˜ (DuckDB ìŠ¤íƒ€ì¼ë¡œ ë³€ê²½)
def query(sql):
    return conn.execute(sql).fetchall()

st.title("ğŸ“š ë§ˆë‹¹ ì„œì  í¬ìŠ¤(POS) ì‹œìŠ¤í…œ")

# ì±… ëª©ë¡ ë¯¸ë¦¬ ê°€ì ¸ì˜¤ê¸° (ì½¤ë³´ë°•ìŠ¤ìš©)
# DuckDBëŠ” ë¦¬ìŠ¤íŠ¸ ì»´í”„ë¦¬í—¨ì…˜ìœ¼ë¡œ ê°„ë‹¨í•˜ê²Œ ì²˜ë¦¬ ê°€ëŠ¥
books_data = conn.execute("select bookid, bookname from Book").fetchall()
# "1, ì¶•êµ¬ì˜ ì—­ì‚¬" í˜•íƒœë¡œ ë¬¸ìì—´ ë§Œë“¤ê¸°
book_options = [f"{row[0]}, {row[1]}" for row in books_data]

# íƒ­ êµ¬ì„±
tab1, tab2 = st.tabs(["ğŸ” ê³ ê° ì¡°íšŒ", "ğŸ’³ ê±°ë˜ ì…ë ¥"])

# ë³€ìˆ˜ ì´ˆê¸°í™”
name_input = ""
selected_custid = None # custidë¥¼ ì €ì¥í•  ë³€ìˆ˜

# --- íƒ­ 1: ê³ ê° ì¡°íšŒ ---
with tab1:
    name_input = st.text_input("ê³ ê°ëª… ê²€ìƒ‰")
    
    if name_input:
        # SQL Injection ë°©ì§€ë¥¼ ìœ„í•´ f-string ì‚¬ìš© (ê°„ë‹¨í•œ ë²„ì „)
        sql = f"""
            SELECT c.custid, c.name, b.bookname, o.orderdate, o.saleprice 
            FROM Customer c
            JOIN Orders o ON c.custid = o.custid
            JOIN Book b ON o.bookid = b.bookid
            WHERE c.name = '{name_input}'
        """
        
        # ê²°ê³¼ê°€ ìˆëŠ”ì§€ í™•ì¸
        result_df = conn.execute(sql).df()
        
        if not result_df.empty:
            st.write(f"**{name_input}** ë‹˜ì˜ ê±°ë˜ ë‚´ì—­ì…ë‹ˆë‹¤.")
            st.dataframe(result_df)
            
            # ì¡°íšŒëœ ê³ ê°ì˜ IDë¥¼ ì €ì¥ (ê±°ë˜ ì…ë ¥ íƒ­ì—ì„œ ì“°ê¸° ìœ„í•´)
            selected_custid = result_df['custid'][0]
        else:
            st.warning("í•´ë‹¹ ì´ë¦„ì˜ ê³ ê°ì´ë‚˜ ê±°ë˜ ë‚´ì—­ì´ ì—†ìŠµë‹ˆë‹¤.")

# --- íƒ­ 2: ê±°ë˜ ì…ë ¥ ---
with tab2:
    st.header("ìƒˆë¡œìš´ ì£¼ë¬¸ ì…ë ¥")
    
    # ê³ ê° ì •ë³´ í‘œì‹œ (íƒ­ 1ì—ì„œ ê²€ìƒ‰í–ˆìœ¼ë©´ ìë™ ì…ë ¥)
    if selected_custid:
        st.success(f"ì„ íƒëœ ê³ ê°: {name_input} (ID: {selected_custid})")
        target_custid = selected_custid
    else:
        st.info("ë¨¼ì € 'ê³ ê° ì¡°íšŒ' íƒ­ì—ì„œ ê³ ê°ì„ ê²€ìƒ‰í•´ì£¼ì„¸ìš”.")
        target_custid = st.number_input("ë˜ëŠ” ê³ ê° ë²ˆí˜¸ ì§ì ‘ ì…ë ¥", value=0)

    # ì±… ì„ íƒ
    select_book = st.selectbox("êµ¬ë§¤í•  ì±… ì„ íƒ:", book_options)
    
    # ê°€ê²© ì…ë ¥
    price = st.text_input("íŒë§¤ ê¸ˆì•¡ (ì›)")

    if st.button('ê±°ë˜ ì…ë ¥'):
        if target_custid > 0 and select_book and price:
            # 1. ë°ì´í„° ì¤€ë¹„
            bookid = select_book.split(",")[0]
            dt = time.strftime('%Y-%m-%d', time.localtime())
            
            # 2. ì£¼ë¬¸ë²ˆí˜¸ ìë™ ìƒì„± (ìµœëŒ€ê°’ + 1)
            # DuckDBì—ì„œ ê²°ê³¼ê°€ NULL(ì²« ì£¼ë¬¸)ì¼ ê²½ìš° 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ëŠ” ë¡œì§ ì¶”ê°€
            max_id = conn.execute("SELECT MAX(orderid) FROM Orders").fetchone()[0]
            new_orderid = 1 if max_id is None else max_id + 1
            
            # 3. INSERT ì‹¤í–‰
            insert_sql = f"""
                INSERT INTO Orders (orderid, custid, bookid, saleprice, orderdate) 
                VALUES ({new_orderid}, {target_custid}, {bookid}, {price}, '{dt}')
            """
            conn.execute(insert_sql)
            
            st.balloons() # ì„±ê³µ ì¶•í•˜ íš¨ê³¼
            st.success(f"ì£¼ë¬¸ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤! (ì£¼ë¬¸ë²ˆí˜¸: {new_orderid})")
            
            # í™•ì¸ì„ ìœ„í•´ ë°©ê¸ˆ ë„£ì€ ë°ì´í„° ë³´ì—¬ì£¼ê¸°
            st.write("ì…ë ¥ëœ ë°ì´í„°:")
            st.dataframe(conn.execute(f"SELECT * FROM Orders WHERE orderid = {new_orderid}").df())
            
        else:
            st.error("ê³ ê° ë²ˆí˜¸ì™€ ê°€ê²©ì„ ì •í™•íˆ ì…ë ¥í•´ì£¼ì„¸ìš”.")

2025-11-18 19:05:41.809
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\doyeon\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-11-18 19:05:41.817 Session state does not function when running a script without `streamlit run`

SyntaxError: invalid syntax (53056601.py, line 1)